{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">

              <a class="mr-2" href="{{url_for('author',post_author=post.author) }}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="{{url_for		('post',post_title=post.title) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>

    {% endfor %}

 {% for page in range(page_count) %}
      
  {% if cur_page == page+1 %}
                
  <a class="btn btn-info mb-4" href="{{ url_for('home', page=page+1) }}">{{ page+1 }}</a>
             
  {% else %}
              
   <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page+1) }}">{{ page+1 }}</a>
       
 {% endif %}
          
 {% endfor %}

{% endblock content %}